#read csv file in pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df

   Unnamed: 0    name  marks      city
0           0   harsh     99  jamnagar
1           1     het     34    rajkot
2           2    mans     45   patidar
3           3  dhaval     45  manaroad

In [4]:
df["marks"]

0    99
1    34
2    45
3    45
Name: marks, dtype: int64

In [5]:
df["marks"][2]

np.int64(45)

In [6]:
df["marks"][0] = 100

C:\Users\HARSH\AppData\Local\Temp\ipykernel_17440\843445103.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["marks"][0] = 100

In [7]:
df

   Unnamed: 0    name  marks      city
0           0   harsh    100  jamnagar
1           1     het     34    rajkot
2           2    mans     45   patidar
3           3  dhaval     45  manaroad

In [8]:
df.to_csv("newdata.csv")

In [9]:
df.index = ["first","second","third","fourth"]

In [10]:
df

        Unnamed: 0    name  marks      city
first            0   harsh    100  jamnagar
second           1     het     34    rajkot
third            2    mans     45   patidar
fourth           3  dhaval     45  manaroad

In [11]:
ser = pd.Series(np.random.rand(5))

In [12]:
print(ser)

0    0.976372
1    0.371176
2    0.651626
3    0.401623
4    0.733263
dtype: float64

In [13]:
type(ser)

pandas.core.series.Series

In [14]:
newdf = pd.DataFrame(np.random.rand(50 , 6) , index = np.arange(50))

In [15]:
print(newdf)

           0         1         2         3         4         5
0   0.292411  0.517596  0.084071  0.125953  0.564423  0.787370
1   0.947923  0.045286  0.311946  0.970250  0.145674  0.674160
2   0.652892  0.522822  0.596137  0.650800  0.840845  0.934032
3   0.531228  0.117667  0.143762  0.889824  0.304120  0.841909
4   0.122570  0.084853  0.781322  0.243407  0.397159  0.388403
5   0.046776  0.865986  0.237410  0.418640  0.425273  0.210417
6   0.500142  0.948326  0.890533  0.412917  0.798853  0.636600
7   0.130891  0.050207  0.192365  0.246690  0.713542  0.607789
8   0.747553  0.760364  0.292724  0.111464  0.964339  0.333398
9   0.309587  0.782492  0.383892  0.065162  0.473959  0.729076
10  0.503600  0.092451  0.541037  0.708731  0.457543  0.542431
11  0.109620  0.434475  0.691247  0.339608  0.041990  0.246791
12  0.772172  0.949837  0.244484  0.122430  0.523030  0.398869
13  0.936207  0.987395  0.592979  0.798271  0.060992  0.077049
14  0.356789  0.929661  0.195955  0.129455  0.411291  0.713292
15  0.942197  0.551744  0.596942  0.644448  0.450184  0.729462
16  0.251223  0.258772  0.175450  0.195236  0.737216  0.615646
17  0.068614  0.823419  0.226025  0.687062  0.110047  0.178220
18  0.201525  0.681301  0.807818  0.501204  0.850334  0.634901
19  0.535119  0.715089  0.278620  0.179192  0.485883  0.325491
20  0.641527  0.588455  0.906522  0.053137  0.043775  0.387364
21  0.820759  0.535877  0.600211  0.088089  0.286137  0.219215
22  0.451208  0.746116  0.431289  0.108083  0.308242  0.399534
23  0.667688  0.659573  0.323604  0.730125  0.986406  0.039239
24  0.298437  0.846537  0.390622  0.633348  0.250112  0.654441
25  0.228040  0.352472  0.580300  0.998167  0.176981  0.609012
26  0.124343  0.418120  0.662300  0.195922  0.198069  0.742681
27  0.709478  0.000459  0.744767  0.160412  0.177803  0.776308
28  0.734554  0.850650  0.159047  0.020842  0.971521  0.847121
29  0.564001  0.758359  0.836476  0.607237  0.613678  0.339225
30  0.499709  0.711352  0.068207  0.067324  0.926577  0.289973
31  0.503876  0.588043  0.001980  0.591648  0.847487  0.267883
32  0.551822  0.993682  0.824948  0.420294  0.417409  0.158156
33  0.230889  0.042234  0.570224  0.377795  0.585684  0.954151
34  0.226773  0.782168  0.567633  0.222049  0.956445  0.688829
35  0.998941  0.253928  0.518718  0.609087  0.189741  0.427424
36  0.510771  0.812973  0.957353  0.705279  0.955351  0.729131
37  0.785012  0.119068  0.972182  0.891497  0.899520  0.804961
38  0.664131  0.272649  0.498098  0.244425  0.069951  0.711441
39  0.574418  0.481093  0.253462  0.018544  0.514972  0.163259
40  0.096634  0.266516  0.634416  0.844918  0.966037  0.243079
41  0.696825  0.380721  0.993730  0.957520  0.575263  0.811032
42  0.237868  0.645123  0.345020  0.936876  0.730616  0.589761
43  0.707311  0.315598  0.917686  0.374477  0.799636  0.207596
44  0.762573  0.404652  0.216708  0.724411  0.904107  0.254647
45  0.820252  0.279217  0.464853  0.955578  0.598310  0.671324
46  0.627884  0.307111  0.154682  0.572953  0.389346  0.690004
47  0.575203  0.434478  0.398486  0.044306  0.186387  0.265367
48  0.769542  0.874115  0.780415  0.621284  0.176881  0.608672
49  0.621317  0.493951  0.665041  0.419985  0.227406  0.831504

In [16]:
newdf.head()

          0         1         2         3         4         5
0  0.292411  0.517596  0.084071  0.125953  0.564423  0.787370
1  0.947923  0.045286  0.311946  0.970250  0.145674  0.674160
2  0.652892  0.522822  0.596137  0.650800  0.840845  0.934032
3  0.531228  0.117667  0.143762  0.889824  0.304120  0.841909
4  0.122570  0.084853  0.781322  0.243407  0.397159  0.388403

In [17]:
type(newdf)

pandas.core.frame.DataFrame

In [18]:
newdf.describe()

               0          1          2          3          4          5
count  50.000000  50.000000  50.000000  50.000000  50.000000  50.000000
mean    0.513216   0.526701   0.494074   0.452727   0.513731   0.519753
std     0.264605   0.292836   0.274716   0.310177   0.303537   0.250707
min     0.046776   0.000459   0.001980   0.018544   0.041990   0.039239
25%     0.261520   0.286191   0.246729   0.165107   0.233083   0.273406
50%     0.543471   0.529349   0.508408   0.419312   0.479921   0.608230
75%     0.708936   0.776717   0.684696   0.700725   0.799440   0.725130
max     0.998941   0.993682   0.993730   0.998167   0.986406   0.954151

In [19]:
newdf[0][0] = "harsh"

C:\Users\HARSH\AppData\Local\Temp\ipykernel_17440\2040739890.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf[0][0] = "harsh"
C:\Users\HARSH\AppData\Local\Temp\ipykernel_17440\2040739890.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'harsh' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newdf[0][0] = "harsh"

In [20]:
newdf.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
5    float64
dtype: object

In [21]:
newdf.head()

          0         1         2         3         4         5
0     harsh  0.517596  0.084071  0.125953  0.564423  0.787370
1  0.947923  0.045286  0.311946  0.970250  0.145674  0.674160
2  0.652892  0.522822  0.596137  0.650800  0.840845  0.934032
3  0.531228  0.117667  0.143762  0.889824  0.304120  0.841909
4   0.12257  0.084853  0.781322  0.243407  0.397159  0.388403

In [22]:
newdf.index

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
      dtype='int64')

In [23]:
newdf.columns

RangeIndex(start=0, stop=6, step=1)

In [24]:
newdf.to_numpy()

array([['harsh', 0.517596053246759, 0.08407058939682444,
        0.12595305819765068, 0.5644231870657404, 0.7873701688370466],
       [0.94792290589483, 0.04528607697794196, 0.3119462050426699,
        0.9702495894258935, 0.14567391851904288, 0.6741601078192208],
       [0.6528918966870871, 0.5228216122232076, 0.5961368837398424,
        0.6507998827135543, 0.8408450970269938, 0.9340317010568788],
       [0.5312278993573778, 0.11766685271907262, 0.14376210815223733,
        0.889823762044122, 0.30411962056386443, 0.8419087867169329],
       [0.12256980950931251, 0.08485308654414725, 0.7813217065537453,
        0.24340711217798017, 0.3971591235904717, 0.3884031413465163],
       [0.0467763754267575, 0.8659855861973489, 0.23741011799225187,
        0.4186398959321842, 0.42527276220383803, 0.21041740489613836],
       [0.5001420917616219, 0.948325814579799, 0.8905332378642176,
        0.41291708318929754, 0.7988527638419933, 0.6366000603559439],
       [0.13089080735140135, 0.05020669917914644, 0.19236505575642981,
        0.24669032377005695, 0.7135424565375057, 0.6077887759215488],
       [0.747552596116124, 0.7603637447140141, 0.2927243550394466,
        0.11146438888203192, 0.9643389453650197, 0.33339800069092207],
       [0.3095874714490954, 0.7824917161692442, 0.3838918913239574,
        0.06516216635343486, 0.4739590423116018, 0.7290763273425412],
       [0.503600037023811, 0.09245077766289167, 0.5410367619172716,
        0.7087312500027757, 0.4575433899378425, 0.5424310191371119],
       [0.10962031504682013, 0.43447455466911955, 0.6912474901900199,
        0.3396083525734873, 0.04199016042654691, 0.24679062077943248],
       [0.7721718811318924, 0.949837159478455, 0.24448403727741197,
        0.1224299067204998, 0.5230295735344594, 0.3988687297006699],
       [0.9362071336281468, 0.9873947838231022, 0.592979217142988,
        0.7982706212197024, 0.060992290197736554, 0.07704900028977957],
       [0.3567888932403952, 0.9296607277631841, 0.19595546399771058,
        0.12945452607676833, 0.4112907420140327, 0.7132915782269966],
       [0.942197302765203, 0.5517435641630006, 0.5969423428576688,
        0.6444483177999916, 0.45018353117301024, 0.7294616648971994],
       [0.25122301527160695, 0.258772241776681, 0.17544956798694555,
        0.19523627368728846, 0.7372159881953155, 0.6156457639425125],
       [0.06861445907318353, 0.8234191567525638, 0.2260252708496594,
        0.6870617828635357, 0.11004696437704409, 0.1782195879821007],
       [0.20152508621865972, 0.6813013325744033, 0.8078178570341302,
        0.5012042418619708, 0.8503337973740837, 0.6349007575260313],
       [0.5351190337717638, 0.7150890493569116, 0.2786195518013639,
        0.1791915518922792, 0.4858827055150988, 0.32549078296555634],
       [0.6415267753855893, 0.588455328684308, 0.9065223206855964,
        0.053137473844073635, 0.04377477162709442, 0.38736389868774845],
       [0.820758834668211, 0.5358770660237738, 0.6002107440446401,
        0.08808907103749841, 0.28613679652720014, 0.21921459517688013],
       [0.4512075898985728, 0.746115797721937, 0.4312888885662838,
        0.10808264134284717, 0.3082420900308399, 0.39953372450053226],
       [0.667687531981417, 0.6595730079775901, 0.3236041764450365,
        0.7301249303321389, 0.986405786385271, 0.03923908128450526],
       [0.2984372307274592, 0.8465368496524571, 0.3906221883809442,
        0.6333478540952091, 0.2501124626860852, 0.6544409418705356],
       [0.22803992255836247, 0.35247164381540774, 0.5802999792420925,
        0.9981673596797184, 0.17698090658799914, 0.609012490723914],
       [0.12434318688121337, 0.41811976884658175, 0.6623004415056754,
        0.19592221950781818, 0.19806882292061012, 0.742681168106758],
       [0.7094776640796291, 0.00045949020903157667, 0.74476722783929,
        0.1604124735277973, 0.17780263137063324, 0.776308481190901],
       [0.7345539704620974, 0.8506495155492728, 0.15904658063467092,
        0.02084173938090772, 0.9715211273861541, 0.8471211993913371],
       [0.5640007650668714, 0.7583588352361849, 0.8364760958139996,
        0.6072373698849404, 0.613678211866231, 0.3392249740319008],
       [0.49970929994059676, 0.7113524980270087, 0.06820701834190668,
        0.06732352747090731, 0.9265767400730855, 0.28997275685060564],
       [0.5038761024069214, 0.5880430778653368, 0.001980114072507644,
        0.5916482604212046, 0.847487403573984, 0.26788319243167613],
       [0.5518223364840175, 0.9936819193261076, 0.8249475651829237,
        0.4202940716967706, 0.417409012711524, 0.1581559434538603],
       [0.23088938976753215, 0.042234368351299234, 0.5702238187339326,
        0.377795207505087, 0.5856842726191358, 0.9541512785490579],
       [0.22677272407902938, 0.7821684516153499, 0.567633472850635,
        0.22204937744282238, 0.9564449016302917, 0.6888288763844906],
       [0.9989410291918823, 0.2539279257070085, 0.5187183659640353,
        0.6090870866033518, 0.18974125472678272, 0.4274242275869369],
       [0.5107706319685611, 0.8129727145106415, 0.957352930589228,
        0.7052788946507365, 0.9553513945126549, 0.7291308198139042],
       [0.7850117097984315, 0.11906759312890625, 0.97218230117489,
        0.891497091649734, 0.89951966902819, 0.8049608900769195],
       [0.6641311073178462, 0.27264876597583454, 0.49809776214262846,
        0.24442490825305974, 0.06995088906581393, 0.7114407929367369],
       [0.5744175113468255, 0.48109272861746855, 0.2534620027155121,
        0.01854384191193914, 0.5149723619415839, 0.16325873884245568],
       [0.09663353065688429, 0.26651636633394804, 0.6344155849737411,
        0.8449179513505389, 0.9660365133888544, 0.24307906691387005],
       [0.6968246197823478, 0.38072123756126264, 0.9937303114506899,
        0.9575196886292929, 0.5752630015776548, 0.8110324576886789],
       [0.23786783842209092, 0.645122726843847, 0.3450204698989644,
        0.9368764373135475, 0.730615774291495, 0.5897609716312597],
       [0.7073111574324771, 0.3155979871676933, 0.9176857323077747,
        0.3744766320240832, 0.7996358531934895, 0.2075956182713493],
       [0.7625728325916563, 0.4046523519741032, 0.21670751287780943,
        0.7244109117135671, 0.9041070604550663, 0.2546467728655639],
       [0.820251907203725, 0.2792173012667808, 0.4648533527366242,
        0.9555784422519822, 0.5983103186270236, 0.6713235800968035],
       [0.6278838504753106, 0.3071107995892791, 0.15468170138944892,
        0.5729532575960261, 0.3893463774951724, 0.6900044492261636],
       [0.5752027011578, 0.43447844279629233, 0.39848585561953154,
        0.04430615950552652, 0.18638654565651325, 0.2653672812886465],
       [0.769541616446063, 0.8741150052344921, 0.780414999235668,
        0.6212836210563968, 0.17688129180268852, 0.6086716602979925],
       [0.6213167868289695, 0.4939506791945114, 0.6650411862211463,
        0.4199848152777793, 0.22740614304308837, 0.8315038047880647]],
      dtype=object)

In [25]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,harsh,0.947923,0.652892,0.531228,0.12257,0.046776,0.500142,0.130891,0.747553,0.309587,...,0.096634,0.696825,0.237868,0.707311,0.762573,0.820252,0.627884,0.575203,0.769542,0.621317
1,0.517596,0.045286,0.522822,0.117667,0.084853,0.865986,0.948326,0.050207,0.760364,0.782492,...,0.266516,0.380721,0.645123,0.315598,0.404652,0.279217,0.307111,0.434478,0.874115,0.493951
2,0.084071,0.311946,0.596137,0.143762,0.781322,0.23741,0.890533,0.192365,0.292724,0.383892,...,0.634416,0.99373,0.34502,0.917686,0.216708,0.464853,0.154682,0.398486,0.780415,0.665041
3,0.125953,0.97025,0.6508,0.889824,0.243407,0.41864,0.412917,0.24669,0.111464,0.065162,...,0.844918,0.95752,0.936876,0.374477,0.724411,0.955578,0.572953,0.044306,0.621284,0.419985
4,0.564423,0.145674,0.840845,0.30412,0.397159,0.425273,0.798853,0.713542,0.964339,0.473959,...,0.966037,0.575263,0.730616,0.799636,0.904107,0.59831,0.389346,0.186387,0.176881,0.227406
5,0.78737,0.67416,0.934032,0.841909,0.388403,0.210417,0.6366,0.607789,0.333398,0.729076,...,0.243079,0.811032,0.589761,0.207596,0.254647,0.671324,0.690004,0.265367,0.608672,0.831504

In [26]:
newdf.sort_index(axis = 0 , ascending = False)

           0         1         2         3         4         5
49  0.621317  0.493951  0.665041  0.419985  0.227406  0.831504
48  0.769542  0.874115  0.780415  0.621284  0.176881  0.608672
47  0.575203  0.434478  0.398486  0.044306  0.186387  0.265367
46  0.627884  0.307111  0.154682  0.572953  0.389346  0.690004
45  0.820252  0.279217  0.464853  0.955578  0.598310  0.671324
44  0.762573  0.404652  0.216708  0.724411  0.904107  0.254647
43  0.707311  0.315598  0.917686  0.374477  0.799636  0.207596
42  0.237868  0.645123  0.345020  0.936876  0.730616  0.589761
41  0.696825  0.380721  0.993730  0.957520  0.575263  0.811032
40  0.096634  0.266516  0.634416  0.844918  0.966037  0.243079
39  0.574418  0.481093  0.253462  0.018544  0.514972  0.163259
38  0.664131  0.272649  0.498098  0.244425  0.069951  0.711441
37  0.785012  0.119068  0.972182  0.891497  0.899520  0.804961
36  0.510771  0.812973  0.957353  0.705279  0.955351  0.729131
35  0.998941  0.253928  0.518718  0.609087  0.189741  0.427424
34  0.226773  0.782168  0.567633  0.222049  0.956445  0.688829
33  0.230889  0.042234  0.570224  0.377795  0.585684  0.954151
32  0.551822  0.993682  0.824948  0.420294  0.417409  0.158156
31  0.503876  0.588043  0.001980  0.591648  0.847487  0.267883
30  0.499709  0.711352  0.068207  0.067324  0.926577  0.289973
29  0.564001  0.758359  0.836476  0.607237  0.613678  0.339225
28  0.734554  0.850650  0.159047  0.020842  0.971521  0.847121
27  0.709478  0.000459  0.744767  0.160412  0.177803  0.776308
26  0.124343  0.418120  0.662300  0.195922  0.198069  0.742681
25   0.22804  0.352472  0.580300  0.998167  0.176981  0.609012
24  0.298437  0.846537  0.390622  0.633348  0.250112  0.654441
23  0.667688  0.659573  0.323604  0.730125  0.986406  0.039239
22  0.451208  0.746116  0.431289  0.108083  0.308242  0.399534
21  0.820759  0.535877  0.600211  0.088089  0.286137  0.219215
20  0.641527  0.588455  0.906522  0.053137  0.043775  0.387364
19  0.535119  0.715089  0.278620  0.179192  0.485883  0.325491
18  0.201525  0.681301  0.807818  0.501204  0.850334  0.634901
17  0.068614  0.823419  0.226025  0.687062  0.110047  0.178220
16  0.251223  0.258772  0.175450  0.195236  0.737216  0.615646
15  0.942197  0.551744  0.596942  0.644448  0.450184  0.729462
14  0.356789  0.929661  0.195955  0.129455  0.411291  0.713292
13  0.936207  0.987395  0.592979  0.798271  0.060992  0.077049
12  0.772172  0.949837  0.244484  0.122430  0.523030  0.398869
11   0.10962  0.434475  0.691247  0.339608  0.041990  0.246791
10    0.5036  0.092451  0.541037  0.708731  0.457543  0.542431
9   0.309587  0.782492  0.383892  0.065162  0.473959  0.729076
8   0.747553  0.760364  0.292724  0.111464  0.964339  0.333398
7   0.130891  0.050207  0.192365  0.246690  0.713542  0.607789
6   0.500142  0.948326  0.890533  0.412917  0.798853  0.636600
5   0.046776  0.865986  0.237410  0.418640  0.425273  0.210417
4    0.12257  0.084853  0.781322  0.243407  0.397159  0.388403
3   0.531228  0.117667  0.143762  0.889824  0.304120  0.841909
2   0.652892  0.522822  0.596137  0.650800  0.840845  0.934032
1   0.947923  0.045286  0.311946  0.970250  0.145674  0.674160
0      harsh  0.517596  0.084071  0.125953  0.564423  0.787370

In [27]:
newdf.sort_index(axis = 1 , ascending = False)

           5         4         3         2         1         0
0   0.787370  0.564423  0.125953  0.084071  0.517596     harsh
1   0.674160  0.145674  0.970250  0.311946  0.045286  0.947923
2   0.934032  0.840845  0.650800  0.596137  0.522822  0.652892
3   0.841909  0.304120  0.889824  0.143762  0.117667  0.531228
4   0.388403  0.397159  0.243407  0.781322  0.084853   0.12257
5   0.210417  0.425273  0.418640  0.237410  0.865986  0.046776
6   0.636600  0.798853  0.412917  0.890533  0.948326  0.500142
7   0.607789  0.713542  0.246690  0.192365  0.050207  0.130891
8   0.333398  0.964339  0.111464  0.292724  0.760364  0.747553
9   0.729076  0.473959  0.065162  0.383892  0.782492  0.309587
10  0.542431  0.457543  0.708731  0.541037  0.092451    0.5036
11  0.246791  0.041990  0.339608  0.691247  0.434475   0.10962
12  0.398869  0.523030  0.122430  0.244484  0.949837  0.772172
13  0.077049  0.060992  0.798271  0.592979  0.987395  0.936207
14  0.713292  0.411291  0.129455  0.195955  0.929661  0.356789
15  0.729462  0.450184  0.644448  0.596942  0.551744  0.942197
16  0.615646  0.737216  0.195236  0.175450  0.258772  0.251223
17  0.178220  0.110047  0.687062  0.226025  0.823419  0.068614
18  0.634901  0.850334  0.501204  0.807818  0.681301  0.201525
19  0.325491  0.485883  0.179192  0.278620  0.715089  0.535119
20  0.387364  0.043775  0.053137  0.906522  0.588455  0.641527
21  0.219215  0.286137  0.088089  0.600211  0.535877  0.820759
22  0.399534  0.308242  0.108083  0.431289  0.746116  0.451208
23  0.039239  0.986406  0.730125  0.323604  0.659573  0.667688
24  0.654441  0.250112  0.633348  0.390622  0.846537  0.298437
25  0.609012  0.176981  0.998167  0.580300  0.352472   0.22804
26  0.742681  0.198069  0.195922  0.662300  0.418120  0.124343
27  0.776308  0.177803  0.160412  0.744767  0.000459  0.709478
28  0.847121  0.971521  0.020842  0.159047  0.850650  0.734554
29  0.339225  0.613678  0.607237  0.836476  0.758359  0.564001
30  0.289973  0.926577  0.067324  0.068207  0.711352  0.499709
31  0.267883  0.847487  0.591648  0.001980  0.588043  0.503876
32  0.158156  0.417409  0.420294  0.824948  0.993682  0.551822
33  0.954151  0.585684  0.377795  0.570224  0.042234  0.230889
34  0.688829  0.956445  0.222049  0.567633  0.782168  0.226773
35  0.427424  0.189741  0.609087  0.518718  0.253928  0.998941
36  0.729131  0.955351  0.705279  0.957353  0.812973  0.510771
37  0.804961  0.899520  0.891497  0.972182  0.119068  0.785012
38  0.711441  0.069951  0.244425  0.498098  0.272649  0.664131
39  0.163259  0.514972  0.018544  0.253462  0.481093  0.574418
40  0.243079  0.966037  0.844918  0.634416  0.266516  0.096634
41  0.811032  0.575263  0.957520  0.993730  0.380721  0.696825
42  0.589761  0.730616  0.936876  0.345020  0.645123  0.237868
43  0.207596  0.799636  0.374477  0.917686  0.315598  0.707311
44  0.254647  0.904107  0.724411  0.216708  0.404652  0.762573
45  0.671324  0.598310  0.955578  0.464853  0.279217  0.820252
46  0.690004  0.389346  0.572953  0.154682  0.307111  0.627884
47  0.265367  0.186387  0.044306  0.398486  0.434478  0.575203
48  0.608672  0.176881  0.621284  0.780415  0.874115  0.769542
49  0.831504  0.227406  0.419985  0.665041  0.493951  0.621317

In [28]:
newdf[0]

0        harsh
1     0.947923
2     0.652892
3     0.531228
4      0.12257
5     0.046776
6     0.500142
7     0.130891
8     0.747553
9     0.309587
10      0.5036
11     0.10962
12    0.772172
13    0.936207
14    0.356789
15    0.942197
16    0.251223
17    0.068614
18    0.201525
19    0.535119
20    0.641527
21    0.820759
22    0.451208
23    0.667688
24    0.298437
25     0.22804
26    0.124343
27    0.709478
28    0.734554
29    0.564001
30    0.499709
31    0.503876
32    0.551822
33    0.230889
34    0.226773
35    0.998941
36    0.510771
37    0.785012
38    0.664131
39    0.574418
40    0.096634
41    0.696825
42    0.237868
43    0.707311
44    0.762573
45    0.820252
46    0.627884
47    0.575203
48    0.769542
49    0.621317
Name: 0, dtype: object

In [29]:
type(newdf[0])

pandas.core.series.Series

In [30]:
newdf.loc[0,0] = 66654

In [31]:
newdf.head(3)

          0         1         2         3         4         5
0     66654  0.517596  0.084071  0.125953  0.564423  0.787370
1  0.947923  0.045286  0.311946  0.970250  0.145674  0.674160
2  0.652892  0.522822  0.596137  0.650800  0.840845  0.934032

In [32]:
newdf.columns = list("ABCDEF")

In [33]:
newdf

           A         B         C         D         E         F
0      66654  0.517596  0.084071  0.125953  0.564423  0.787370
1   0.947923  0.045286  0.311946  0.970250  0.145674  0.674160
2   0.652892  0.522822  0.596137  0.650800  0.840845  0.934032
3   0.531228  0.117667  0.143762  0.889824  0.304120  0.841909
4    0.12257  0.084853  0.781322  0.243407  0.397159  0.388403
5   0.046776  0.865986  0.237410  0.418640  0.425273  0.210417
6   0.500142  0.948326  0.890533  0.412917  0.798853  0.636600
7   0.130891  0.050207  0.192365  0.246690  0.713542  0.607789
8   0.747553  0.760364  0.292724  0.111464  0.964339  0.333398
9   0.309587  0.782492  0.383892  0.065162  0.473959  0.729076
10    0.5036  0.092451  0.541037  0.708731  0.457543  0.542431
11   0.10962  0.434475  0.691247  0.339608  0.041990  0.246791
12  0.772172  0.949837  0.244484  0.122430  0.523030  0.398869
13  0.936207  0.987395  0.592979  0.798271  0.060992  0.077049
14  0.356789  0.929661  0.195955  0.129455  0.411291  0.713292
15  0.942197  0.551744  0.596942  0.644448  0.450184  0.729462
16  0.251223  0.258772  0.175450  0.195236  0.737216  0.615646
17  0.068614  0.823419  0.226025  0.687062  0.110047  0.178220
18  0.201525  0.681301  0.807818  0.501204  0.850334  0.634901
19  0.535119  0.715089  0.278620  0.179192  0.485883  0.325491
20  0.641527  0.588455  0.906522  0.053137  0.043775  0.387364
21  0.820759  0.535877  0.600211  0.088089  0.286137  0.219215
22  0.451208  0.746116  0.431289  0.108083  0.308242  0.399534
23  0.667688  0.659573  0.323604  0.730125  0.986406  0.039239
24  0.298437  0.846537  0.390622  0.633348  0.250112  0.654441
25   0.22804  0.352472  0.580300  0.998167  0.176981  0.609012
26  0.124343  0.418120  0.662300  0.195922  0.198069  0.742681
27  0.709478  0.000459  0.744767  0.160412  0.177803  0.776308
28  0.734554  0.850650  0.159047  0.020842  0.971521  0.847121
29  0.564001  0.758359  0.836476  0.607237  0.613678  0.339225
30  0.499709  0.711352  0.068207  0.067324  0.926577  0.289973
31  0.503876  0.588043  0.001980  0.591648  0.847487  0.267883
32  0.551822  0.993682  0.824948  0.420294  0.417409  0.158156
33  0.230889  0.042234  0.570224  0.377795  0.585684  0.954151
34  0.226773  0.782168  0.567633  0.222049  0.956445  0.688829
35  0.998941  0.253928  0.518718  0.609087  0.189741  0.427424
36  0.510771  0.812973  0.957353  0.705279  0.955351  0.729131
37  0.785012  0.119068  0.972182  0.891497  0.899520  0.804961
38  0.664131  0.272649  0.498098  0.244425  0.069951  0.711441
39  0.574418  0.481093  0.253462  0.018544  0.514972  0.163259
40  0.096634  0.266516  0.634416  0.844918  0.966037  0.243079
41  0.696825  0.380721  0.993730  0.957520  0.575263  0.811032
42  0.237868  0.645123  0.345020  0.936876  0.730616  0.589761
43  0.707311  0.315598  0.917686  0.374477  0.799636  0.207596
44  0.762573  0.404652  0.216708  0.724411  0.904107  0.254647
45  0.820252  0.279217  0.464853  0.955578  0.598310  0.671324
46  0.627884  0.307111  0.154682  0.572953  0.389346  0.690004
47  0.575203  0.434478  0.398486  0.044306  0.186387  0.265367
48  0.769542  0.874115  0.780415  0.621284  0.176881  0.608672
49  0.621317  0.493951  0.665041  0.419985  0.227406  0.831504

In [34]:
newdf.loc[0 , 4] = 234

In [35]:
newdf

           A         B         C         D         E         F      4
0      66654  0.517596  0.084071  0.125953  0.564423  0.787370  234.0
1   0.947923  0.045286  0.311946  0.970250  0.145674  0.674160    NaN
2   0.652892  0.522822  0.596137  0.650800  0.840845  0.934032    NaN
3   0.531228  0.117667  0.143762  0.889824  0.304120  0.841909    NaN
4    0.12257  0.084853  0.781322  0.243407  0.397159  0.388403    NaN
5   0.046776  0.865986  0.237410  0.418640  0.425273  0.210417    NaN
6   0.500142  0.948326  0.890533  0.412917  0.798853  0.636600    NaN
7   0.130891  0.050207  0.192365  0.246690  0.713542  0.607789    NaN
8   0.747553  0.760364  0.292724  0.111464  0.964339  0.333398    NaN
9   0.309587  0.782492  0.383892  0.065162  0.473959  0.729076    NaN
10    0.5036  0.092451  0.541037  0.708731  0.457543  0.542431    NaN
11   0.10962  0.434475  0.691247  0.339608  0.041990  0.246791    NaN
12  0.772172  0.949837  0.244484  0.122430  0.523030  0.398869    NaN
13  0.936207  0.987395  0.592979  0.798271  0.060992  0.077049    NaN
14  0.356789  0.929661  0.195955  0.129455  0.411291  0.713292    NaN
15  0.942197  0.551744  0.596942  0.644448  0.450184  0.729462    NaN
16  0.251223  0.258772  0.175450  0.195236  0.737216  0.615646    NaN
17  0.068614  0.823419  0.226025  0.687062  0.110047  0.178220    NaN
18  0.201525  0.681301  0.807818  0.501204  0.850334  0.634901    NaN
19  0.535119  0.715089  0.278620  0.179192  0.485883  0.325491    NaN
20  0.641527  0.588455  0.906522  0.053137  0.043775  0.387364    NaN
21  0.820759  0.535877  0.600211  0.088089  0.286137  0.219215    NaN
22  0.451208  0.746116  0.431289  0.108083  0.308242  0.399534    NaN
23  0.667688  0.659573  0.323604  0.730125  0.986406  0.039239    NaN
24  0.298437  0.846537  0.390622  0.633348  0.250112  0.654441    NaN
25   0.22804  0.352472  0.580300  0.998167  0.176981  0.609012    NaN
26  0.124343  0.418120  0.662300  0.195922  0.198069  0.742681    NaN
27  0.709478  0.000459  0.744767  0.160412  0.177803  0.776308    NaN
28  0.734554  0.850650  0.159047  0.020842  0.971521  0.847121    NaN
29  0.564001  0.758359  0.836476  0.607237  0.613678  0.339225    NaN
30  0.499709  0.711352  0.068207  0.067324  0.926577  0.289973    NaN
31  0.503876  0.588043  0.001980  0.591648  0.847487  0.267883    NaN
32  0.551822  0.993682  0.824948  0.420294  0.417409  0.158156    NaN
33  0.230889  0.042234  0.570224  0.377795  0.585684  0.954151    NaN
34  0.226773  0.782168  0.567633  0.222049  0.956445  0.688829    NaN
35  0.998941  0.253928  0.518718  0.609087  0.189741  0.427424    NaN
36  0.510771  0.812973  0.957353  0.705279  0.955351  0.729131    NaN
37  0.785012  0.119068  0.972182  0.891497  0.899520  0.804961    NaN
38  0.664131  0.272649  0.498098  0.244425  0.069951  0.711441    NaN
39  0.574418  0.481093  0.253462  0.018544  0.514972  0.163259    NaN
40  0.096634  0.266516  0.634416  0.844918  0.966037  0.243079    NaN
41  0.696825  0.380721  0.993730  0.957520  0.575263  0.811032    NaN
42  0.237868  0.645123  0.345020  0.936876  0.730616  0.589761    NaN
43  0.707311  0.315598  0.917686  0.374477  0.799636  0.207596    NaN
44  0.762573  0.404652  0.216708  0.724411  0.904107  0.254647    NaN
45  0.820252  0.279217  0.464853  0.955578  0.598310  0.671324    NaN
46  0.627884  0.307111  0.154682  0.572953  0.389346  0.690004    NaN
47  0.575203  0.434478  0.398486  0.044306  0.186387  0.265367    NaN
48  0.769542  0.874115  0.780415  0.621284  0.176881  0.608672    NaN
49  0.621317  0.493951  0.665041  0.419985  0.227406  0.831504    NaN

In [36]:
newdf.loc[1 , 'A'] = 87546474

In [37]:
print(newdf)

           A         B         C         D         E         F      4
0      66654  0.517596  0.084071  0.125953  0.564423  0.787370  234.0
1   87546474  0.045286  0.311946  0.970250  0.145674  0.674160    NaN
2   0.652892  0.522822  0.596137  0.650800  0.840845  0.934032    NaN
3   0.531228  0.117667  0.143762  0.889824  0.304120  0.841909    NaN
4    0.12257  0.084853  0.781322  0.243407  0.397159  0.388403    NaN
5   0.046776  0.865986  0.237410  0.418640  0.425273  0.210417    NaN
6   0.500142  0.948326  0.890533  0.412917  0.798853  0.636600    NaN
7   0.130891  0.050207  0.192365  0.246690  0.713542  0.607789    NaN
8   0.747553  0.760364  0.292724  0.111464  0.964339  0.333398    NaN
9   0.309587  0.782492  0.383892  0.065162  0.473959  0.729076    NaN
10    0.5036  0.092451  0.541037  0.708731  0.457543  0.542431    NaN
11   0.10962  0.434475  0.691247  0.339608  0.041990  0.246791    NaN
12  0.772172  0.949837  0.244484  0.122430  0.523030  0.398869    NaN
13  0.936207  0.987395  0.592979  0.798271  0.060992  0.077049    NaN
14  0.356789  0.929661  0.195955  0.129455  0.411291  0.713292    NaN
15  0.942197  0.551744  0.596942  0.644448  0.450184  0.729462    NaN
16  0.251223  0.258772  0.175450  0.195236  0.737216  0.615646    NaN
17  0.068614  0.823419  0.226025  0.687062  0.110047  0.178220    NaN
18  0.201525  0.681301  0.807818  0.501204  0.850334  0.634901    NaN
19  0.535119  0.715089  0.278620  0.179192  0.485883  0.325491    NaN
20  0.641527  0.588455  0.906522  0.053137  0.043775  0.387364    NaN
21  0.820759  0.535877  0.600211  0.088089  0.286137  0.219215    NaN
22  0.451208  0.746116  0.431289  0.108083  0.308242  0.399534    NaN
23  0.667688  0.659573  0.323604  0.730125  0.986406  0.039239    NaN
24  0.298437  0.846537  0.390622  0.633348  0.250112  0.654441    NaN
25   0.22804  0.352472  0.580300  0.998167  0.176981  0.609012    NaN
26  0.124343  0.418120  0.662300  0.195922  0.198069  0.742681    NaN
27  0.709478  0.000459  0.744767  0.160412  0.177803  0.776308    NaN
28  0.734554  0.850650  0.159047  0.020842  0.971521  0.847121    NaN
29  0.564001  0.758359  0.836476  0.607237  0.613678  0.339225    NaN
30  0.499709  0.711352  0.068207  0.067324  0.926577  0.289973    NaN
31  0.503876  0.588043  0.001980  0.591648  0.847487  0.267883    NaN
32  0.551822  0.993682  0.824948  0.420294  0.417409  0.158156    NaN
33  0.230889  0.042234  0.570224  0.377795  0.585684  0.954151    NaN
34  0.226773  0.782168  0.567633  0.222049  0.956445  0.688829    NaN
35  0.998941  0.253928  0.518718  0.609087  0.189741  0.427424    NaN
36  0.510771  0.812973  0.957353  0.705279  0.955351  0.729131    NaN
37  0.785012  0.119068  0.972182  0.891497  0.899520  0.804961    NaN
38  0.664131  0.272649  0.498098  0.244425  0.069951  0.711441    NaN
39  0.574418  0.481093  0.253462  0.018544  0.514972  0.163259    NaN
40  0.096634  0.266516  0.634416  0.844918  0.966037  0.243079    NaN
41  0.696825  0.380721  0.993730  0.957520  0.575263  0.811032    NaN
42  0.237868  0.645123  0.345020  0.936876  0.730616  0.589761    NaN
43  0.707311  0.315598  0.917686  0.374477  0.799636  0.207596    NaN
44  0.762573  0.404652  0.216708  0.724411  0.904107  0.254647    NaN
45  0.820252  0.279217  0.464853  0.955578  0.598310  0.671324    NaN
46  0.627884  0.307111  0.154682  0.572953  0.389346  0.690004    NaN
47  0.575203  0.434478  0.398486  0.044306  0.186387  0.265367    NaN
48  0.769542  0.874115  0.780415  0.621284  0.176881  0.608672    NaN
49  0.621317  0.493951  0.665041  0.419985  0.227406  0.831504    NaN

In [38]:
newdf.loc[[1,2] , ['C','D']]

          C        D
1  0.311946  0.97025
2  0.596137  0.65080

In [39]:
newdf.loc[[3,4] , :]

          A         B         C         D         E         F   4
3  0.531228  0.117667  0.143762  0.889824  0.304120  0.841909 NaN
4   0.12257  0.084853  0.781322  0.243407  0.397159  0.388403 NaN

In [40]:
newdf.loc[(newdf['A']<0.3)]

           A         B         C         D         E         F   4
4    0.12257  0.084853  0.781322  0.243407  0.397159  0.388403 NaN
5   0.046776  0.865986  0.237410  0.418640  0.425273  0.210417 NaN
7   0.130891  0.050207  0.192365  0.246690  0.713542  0.607789 NaN
11   0.10962  0.434475  0.691247  0.339608  0.041990  0.246791 NaN
16  0.251223  0.258772  0.175450  0.195236  0.737216  0.615646 NaN
17  0.068614  0.823419  0.226025  0.687062  0.110047  0.178220 NaN
18  0.201525  0.681301  0.807818  0.501204  0.850334  0.634901 NaN
24  0.298437  0.846537  0.390622  0.633348  0.250112  0.654441 NaN
25   0.22804  0.352472  0.580300  0.998167  0.176981  0.609012 NaN
26  0.124343  0.418120  0.662300  0.195922  0.198069  0.742681 NaN
33  0.230889  0.042234  0.570224  0.377795  0.585684  0.954151 NaN
34  0.226773  0.782168  0.567633  0.222049  0.956445  0.688829 NaN
40  0.096634  0.266516  0.634416  0.844918  0.966037  0.243079 NaN
42  0.237868  0.645123  0.345020  0.936876  0.730616  0.589761 NaN

In [41]:
newdf.loc[(newdf['A'] < 0.3) & (newdf['D'] > 0.2)]

           A         B         C         D         E         F   4
4    0.12257  0.084853  0.781322  0.243407  0.397159  0.388403 NaN
5   0.046776  0.865986  0.237410  0.418640  0.425273  0.210417 NaN
7   0.130891  0.050207  0.192365  0.246690  0.713542  0.607789 NaN
11   0.10962  0.434475  0.691247  0.339608  0.041990  0.246791 NaN
17  0.068614  0.823419  0.226025  0.687062  0.110047  0.178220 NaN
18  0.201525  0.681301  0.807818  0.501204  0.850334  0.634901 NaN
24  0.298437  0.846537  0.390622  0.633348  0.250112  0.654441 NaN
25   0.22804  0.352472  0.580300  0.998167  0.176981  0.609012 NaN
33  0.230889  0.042234  0.570224  0.377795  0.585684  0.954151 NaN
34  0.226773  0.782168  0.567633  0.222049  0.956445  0.688829 NaN
40  0.096634  0.266516  0.634416  0.844918  0.966037  0.243079 NaN
42  0.237868  0.645123  0.345020  0.936876  0.730616  0.589761 NaN

In [42]:
newdf.head(4)

          A         B         C         D         E         F      4
0     66654  0.517596  0.084071  0.125953  0.564423  0.787370  234.0
1  87546474  0.045286  0.311946  0.970250  0.145674  0.674160    NaN
2  0.652892  0.522822  0.596137  0.650800  0.840845  0.934032    NaN
3  0.531228  0.117667  0.143762  0.889824  0.304120  0.841909    NaN

In [43]:
newdf.iloc[0 , 3]

np.float64(0.12595305819765068)

In [44]:
newdf.iloc[[3,4] , [4 , 5]]

          E         F
3  0.304120  0.841909
4  0.397159  0.388403

In [45]:
newdf.drop([3])

           A         B         C         D         E         F      4
0      66654  0.517596  0.084071  0.125953  0.564423  0.787370  234.0
1   87546474  0.045286  0.311946  0.970250  0.145674  0.674160    NaN
2   0.652892  0.522822  0.596137  0.650800  0.840845  0.934032    NaN
4    0.12257  0.084853  0.781322  0.243407  0.397159  0.388403    NaN
5   0.046776  0.865986  0.237410  0.418640  0.425273  0.210417    NaN
6   0.500142  0.948326  0.890533  0.412917  0.798853  0.636600    NaN
7   0.130891  0.050207  0.192365  0.246690  0.713542  0.607789    NaN
8   0.747553  0.760364  0.292724  0.111464  0.964339  0.333398    NaN
9   0.309587  0.782492  0.383892  0.065162  0.473959  0.729076    NaN
10    0.5036  0.092451  0.541037  0.708731  0.457543  0.542431    NaN
11   0.10962  0.434475  0.691247  0.339608  0.041990  0.246791    NaN
12  0.772172  0.949837  0.244484  0.122430  0.523030  0.398869    NaN
13  0.936207  0.987395  0.592979  0.798271  0.060992  0.077049    NaN
14  0.356789  0.929661  0.195955  0.129455  0.411291  0.713292    NaN
15  0.942197  0.551744  0.596942  0.644448  0.450184  0.729462    NaN
16  0.251223  0.258772  0.175450  0.195236  0.737216  0.615646    NaN
17  0.068614  0.823419  0.226025  0.687062  0.110047  0.178220    NaN
18  0.201525  0.681301  0.807818  0.501204  0.850334  0.634901    NaN
19  0.535119  0.715089  0.278620  0.179192  0.485883  0.325491    NaN
20  0.641527  0.588455  0.906522  0.053137  0.043775  0.387364    NaN
21  0.820759  0.535877  0.600211  0.088089  0.286137  0.219215    NaN
22  0.451208  0.746116  0.431289  0.108083  0.308242  0.399534    NaN
23  0.667688  0.659573  0.323604  0.730125  0.986406  0.039239    NaN
24  0.298437  0.846537  0.390622  0.633348  0.250112  0.654441    NaN
25   0.22804  0.352472  0.580300  0.998167  0.176981  0.609012    NaN
26  0.124343  0.418120  0.662300  0.195922  0.198069  0.742681    NaN
27  0.709478  0.000459  0.744767  0.160412  0.177803  0.776308    NaN
28  0.734554  0.850650  0.159047  0.020842  0.971521  0.847121    NaN
29  0.564001  0.758359  0.836476  0.607237  0.613678  0.339225    NaN
30  0.499709  0.711352  0.068207  0.067324  0.926577  0.289973    NaN
31  0.503876  0.588043  0.001980  0.591648  0.847487  0.267883    NaN
32  0.551822  0.993682  0.824948  0.420294  0.417409  0.158156    NaN
33  0.230889  0.042234  0.570224  0.377795  0.585684  0.954151    NaN
34  0.226773  0.782168  0.567633  0.222049  0.956445  0.688829    NaN
35  0.998941  0.253928  0.518718  0.609087  0.189741  0.427424    NaN
36  0.510771  0.812973  0.957353  0.705279  0.955351  0.729131    NaN
37  0.785012  0.119068  0.972182  0.891497  0.899520  0.804961    NaN
38  0.664131  0.272649  0.498098  0.244425  0.069951  0.711441    NaN
39  0.574418  0.481093  0.253462  0.018544  0.514972  0.163259    NaN
40  0.096634  0.266516  0.634416  0.844918  0.966037  0.243079    NaN
41  0.696825  0.380721  0.993730  0.957520  0.575263  0.811032    NaN
42  0.237868  0.645123  0.345020  0.936876  0.730616  0.589761    NaN
43  0.707311  0.315598  0.917686  0.374477  0.799636  0.207596    NaN
44  0.762573  0.404652  0.216708  0.724411  0.904107  0.254647    NaN
45  0.820252  0.279217  0.464853  0.955578  0.598310  0.671324    NaN
46  0.627884  0.307111  0.154682  0.572953  0.389346  0.690004    NaN
47  0.575203  0.434478  0.398486  0.044306  0.186387  0.265367    NaN
48  0.769542  0.874115  0.780415  0.621284  0.176881  0.608672    NaN
49  0.621317  0.493951  0.665041  0.419985  0.227406  0.831504    NaN

In [46]:
newdf.drop(['B'] , axis = 1)

           A         C         D         E         F      4
0      66654  0.084071  0.125953  0.564423  0.787370  234.0
1   87546474  0.311946  0.970250  0.145674  0.674160    NaN
2   0.652892  0.596137  0.650800  0.840845  0.934032    NaN
3   0.531228  0.143762  0.889824  0.304120  0.841909    NaN
4    0.12257  0.781322  0.243407  0.397159  0.388403    NaN
5   0.046776  0.237410  0.418640  0.425273  0.210417    NaN
6   0.500142  0.890533  0.412917  0.798853  0.636600    NaN
7   0.130891  0.192365  0.246690  0.713542  0.607789    NaN
8   0.747553  0.292724  0.111464  0.964339  0.333398    NaN
9   0.309587  0.383892  0.065162  0.473959  0.729076    NaN
10    0.5036  0.541037  0.708731  0.457543  0.542431    NaN
11   0.10962  0.691247  0.339608  0.041990  0.246791    NaN
12  0.772172  0.244484  0.122430  0.523030  0.398869    NaN
13  0.936207  0.592979  0.798271  0.060992  0.077049    NaN
14  0.356789  0.195955  0.129455  0.411291  0.713292    NaN
15  0.942197  0.596942  0.644448  0.450184  0.729462    NaN
16  0.251223  0.175450  0.195236  0.737216  0.615646    NaN
17  0.068614  0.226025  0.687062  0.110047  0.178220    NaN
18  0.201525  0.807818  0.501204  0.850334  0.634901    NaN
19  0.535119  0.278620  0.179192  0.485883  0.325491    NaN
20  0.641527  0.906522  0.053137  0.043775  0.387364    NaN
21  0.820759  0.600211  0.088089  0.286137  0.219215    NaN
22  0.451208  0.431289  0.108083  0.308242  0.399534    NaN
23  0.667688  0.323604  0.730125  0.986406  0.039239    NaN
24  0.298437  0.390622  0.633348  0.250112  0.654441    NaN
25   0.22804  0.580300  0.998167  0.176981  0.609012    NaN
26  0.124343  0.662300  0.195922  0.198069  0.742681    NaN
27  0.709478  0.744767  0.160412  0.177803  0.776308    NaN
28  0.734554  0.159047  0.020842  0.971521  0.847121    NaN
29  0.564001  0.836476  0.607237  0.613678  0.339225    NaN
30  0.499709  0.068207  0.067324  0.926577  0.289973    NaN
31  0.503876  0.001980  0.591648  0.847487  0.267883    NaN
32  0.551822  0.824948  0.420294  0.417409  0.158156    NaN
33  0.230889  0.570224  0.377795  0.585684  0.954151    NaN
34  0.226773  0.567633  0.222049  0.956445  0.688829    NaN
35  0.998941  0.518718  0.609087  0.189741  0.427424    NaN
36  0.510771  0.957353  0.705279  0.955351  0.729131    NaN
37  0.785012  0.972182  0.891497  0.899520  0.804961    NaN
38  0.664131  0.498098  0.244425  0.069951  0.711441    NaN
39  0.574418  0.253462  0.018544  0.514972  0.163259    NaN
40  0.096634  0.634416  0.844918  0.966037  0.243079    NaN
41  0.696825  0.993730  0.957520  0.575263  0.811032    NaN
42  0.237868  0.345020  0.936876  0.730616  0.589761    NaN
43  0.707311  0.917686  0.374477  0.799636  0.207596    NaN
44  0.762573  0.216708  0.724411  0.904107  0.254647    NaN
45  0.820252  0.464853  0.955578  0.598310  0.671324    NaN
46  0.627884  0.154682  0.572953  0.389346  0.690004    NaN
47  0.575203  0.398486  0.044306  0.186387  0.265367    NaN
48  0.769542  0.780415  0.621284  0.176881  0.608672    NaN
49  0.621317  0.665041  0.419985  0.227406  0.831504    NaN

In [47]:
newdf.drop(['A' , 'C'] , axis = 1)

           B         D         E         F      4
0   0.517596  0.125953  0.564423  0.787370  234.0
1   0.045286  0.970250  0.145674  0.674160    NaN
2   0.522822  0.650800  0.840845  0.934032    NaN
3   0.117667  0.889824  0.304120  0.841909    NaN
4   0.084853  0.243407  0.397159  0.388403    NaN
5   0.865986  0.418640  0.425273  0.210417    NaN
6   0.948326  0.412917  0.798853  0.636600    NaN
7   0.050207  0.246690  0.713542  0.607789    NaN
8   0.760364  0.111464  0.964339  0.333398    NaN
9   0.782492  0.065162  0.473959  0.729076    NaN
10  0.092451  0.708731  0.457543  0.542431    NaN
11  0.434475  0.339608  0.041990  0.246791    NaN
12  0.949837  0.122430  0.523030  0.398869    NaN
13  0.987395  0.798271  0.060992  0.077049    NaN
14  0.929661  0.129455  0.411291  0.713292    NaN
15  0.551744  0.644448  0.450184  0.729462    NaN
16  0.258772  0.195236  0.737216  0.615646    NaN
17  0.823419  0.687062  0.110047  0.178220    NaN
18  0.681301  0.501204  0.850334  0.634901    NaN
19  0.715089  0.179192  0.485883  0.325491    NaN
20  0.588455  0.053137  0.043775  0.387364    NaN
21  0.535877  0.088089  0.286137  0.219215    NaN
22  0.746116  0.108083  0.308242  0.399534    NaN
23  0.659573  0.730125  0.986406  0.039239    NaN
24  0.846537  0.633348  0.250112  0.654441    NaN
25  0.352472  0.998167  0.176981  0.609012    NaN
26  0.418120  0.195922  0.198069  0.742681    NaN
27  0.000459  0.160412  0.177803  0.776308    NaN
28  0.850650  0.020842  0.971521  0.847121    NaN
29  0.758359  0.607237  0.613678  0.339225    NaN
30  0.711352  0.067324  0.926577  0.289973    NaN
31  0.588043  0.591648  0.847487  0.267883    NaN
32  0.993682  0.420294  0.417409  0.158156    NaN
33  0.042234  0.377795  0.585684  0.954151    NaN
34  0.782168  0.222049  0.956445  0.688829    NaN
35  0.253928  0.609087  0.189741  0.427424    NaN
36  0.812973  0.705279  0.955351  0.729131    NaN
37  0.119068  0.891497  0.899520  0.804961    NaN
38  0.272649  0.244425  0.069951  0.711441    NaN
39  0.481093  0.018544  0.514972  0.163259    NaN
40  0.266516  0.844918  0.966037  0.243079    NaN
41  0.380721  0.957520  0.575263  0.811032    NaN
42  0.645123  0.936876  0.730616  0.589761    NaN
43  0.315598  0.374477  0.799636  0.207596    NaN
44  0.404652  0.724411  0.904107  0.254647    NaN
45  0.279217  0.955578  0.598310  0.671324    NaN
46  0.307111  0.572953  0.389346  0.690004    NaN
47  0.434478  0.044306  0.186387  0.265367    NaN
48  0.874115  0.621284  0.176881  0.608672    NaN
49  0.493951  0.419985  0.227406  0.831504    NaN

In [48]:
newdf.drop(['A' , 'C'] , axis = 1 , inplace = True)

In [49]:
print(newdf)

           B         D         E         F      4
0   0.517596  0.125953  0.564423  0.787370  234.0
1   0.045286  0.970250  0.145674  0.674160    NaN
2   0.522822  0.650800  0.840845  0.934032    NaN
3   0.117667  0.889824  0.304120  0.841909    NaN
4   0.084853  0.243407  0.397159  0.388403    NaN
5   0.865986  0.418640  0.425273  0.210417    NaN
6   0.948326  0.412917  0.798853  0.636600    NaN
7   0.050207  0.246690  0.713542  0.607789    NaN
8   0.760364  0.111464  0.964339  0.333398    NaN
9   0.782492  0.065162  0.473959  0.729076    NaN
10  0.092451  0.708731  0.457543  0.542431    NaN
11  0.434475  0.339608  0.041990  0.246791    NaN
12  0.949837  0.122430  0.523030  0.398869    NaN
13  0.987395  0.798271  0.060992  0.077049    NaN
14  0.929661  0.129455  0.411291  0.713292    NaN
15  0.551744  0.644448  0.450184  0.729462    NaN
16  0.258772  0.195236  0.737216  0.615646    NaN
17  0.823419  0.687062  0.110047  0.178220    NaN
18  0.681301  0.501204  0.850334  0.634901    NaN
19  0.715089  0.179192  0.485883  0.325491    NaN
20  0.588455  0.053137  0.043775  0.387364    NaN
21  0.535877  0.088089  0.286137  0.219215    NaN
22  0.746116  0.108083  0.308242  0.399534    NaN
23  0.659573  0.730125  0.986406  0.039239    NaN
24  0.846537  0.633348  0.250112  0.654441    NaN
25  0.352472  0.998167  0.176981  0.609012    NaN
26  0.418120  0.195922  0.198069  0.742681    NaN
27  0.000459  0.160412  0.177803  0.776308    NaN
28  0.850650  0.020842  0.971521  0.847121    NaN
29  0.758359  0.607237  0.613678  0.339225    NaN
30  0.711352  0.067324  0.926577  0.289973    NaN
31  0.588043  0.591648  0.847487  0.267883    NaN
32  0.993682  0.420294  0.417409  0.158156    NaN
33  0.042234  0.377795  0.585684  0.954151    NaN
34  0.782168  0.222049  0.956445  0.688829    NaN
35  0.253928  0.609087  0.189741  0.427424    NaN
36  0.812973  0.705279  0.955351  0.729131    NaN
37  0.119068  0.891497  0.899520  0.804961    NaN
38  0.272649  0.244425  0.069951  0.711441    NaN
39  0.481093  0.018544  0.514972  0.163259    NaN
40  0.266516  0.844918  0.966037  0.243079    NaN
41  0.380721  0.957520  0.575263  0.811032    NaN
42  0.645123  0.936876  0.730616  0.589761    NaN
43  0.315598  0.374477  0.799636  0.207596    NaN
44  0.404652  0.724411  0.904107  0.254647    NaN
45  0.279217  0.955578  0.598310  0.671324    NaN
46  0.307111  0.572953  0.389346  0.690004    NaN
47  0.434478  0.044306  0.186387  0.265367    NaN
48  0.874115  0.621284  0.176881  0.608672    NaN
49  0.493951  0.419985  0.227406  0.831504    NaN

In [50]:
newdf.reset_index()

    index         B         D         E         F      4
0       0  0.517596  0.125953  0.564423  0.787370  234.0
1       1  0.045286  0.970250  0.145674  0.674160    NaN
2       2  0.522822  0.650800  0.840845  0.934032    NaN
3       3  0.117667  0.889824  0.304120  0.841909    NaN
4       4  0.084853  0.243407  0.397159  0.388403    NaN
5       5  0.865986  0.418640  0.425273  0.210417    NaN
6       6  0.948326  0.412917  0.798853  0.636600    NaN
7       7  0.050207  0.246690  0.713542  0.607789    NaN
8       8  0.760364  0.111464  0.964339  0.333398    NaN
9       9  0.782492  0.065162  0.473959  0.729076    NaN
10     10  0.092451  0.708731  0.457543  0.542431    NaN
11     11  0.434475  0.339608  0.041990  0.246791    NaN
12     12  0.949837  0.122430  0.523030  0.398869    NaN
13     13  0.987395  0.798271  0.060992  0.077049    NaN
14     14  0.929661  0.129455  0.411291  0.713292    NaN
15     15  0.551744  0.644448  0.450184  0.729462    NaN
16     16  0.258772  0.195236  0.737216  0.615646    NaN
17     17  0.823419  0.687062  0.110047  0.178220    NaN
18     18  0.681301  0.501204  0.850334  0.634901    NaN
19     19  0.715089  0.179192  0.485883  0.325491    NaN
20     20  0.588455  0.053137  0.043775  0.387364    NaN
21     21  0.535877  0.088089  0.286137  0.219215    NaN
22     22  0.746116  0.108083  0.308242  0.399534    NaN
23     23  0.659573  0.730125  0.986406  0.039239    NaN
24     24  0.846537  0.633348  0.250112  0.654441    NaN
25     25  0.352472  0.998167  0.176981  0.609012    NaN
26     26  0.418120  0.195922  0.198069  0.742681    NaN
27     27  0.000459  0.160412  0.177803  0.776308    NaN
28     28  0.850650  0.020842  0.971521  0.847121    NaN
29     29  0.758359  0.607237  0.613678  0.339225    NaN
30     30  0.711352  0.067324  0.926577  0.289973    NaN
31     31  0.588043  0.591648  0.847487  0.267883    NaN
32     32  0.993682  0.420294  0.417409  0.158156    NaN
33     33  0.042234  0.377795  0.585684  0.954151    NaN
34     34  0.782168  0.222049  0.956445  0.688829    NaN
35     35  0.253928  0.609087  0.189741  0.427424    NaN
36     36  0.812973  0.705279  0.955351  0.729131    NaN
37     37  0.119068  0.891497  0.899520  0.804961    NaN
38     38  0.272649  0.244425  0.069951  0.711441    NaN
39     39  0.481093  0.018544  0.514972  0.163259    NaN
40     40  0.266516  0.844918  0.966037  0.243079    NaN
41     41  0.380721  0.957520  0.575263  0.811032    NaN
42     42  0.645123  0.936876  0.730616  0.589761    NaN
43     43  0.315598  0.374477  0.799636  0.207596    NaN
44     44  0.404652  0.724411  0.904107  0.254647    NaN
45     45  0.279217  0.955578  0.598310  0.671324    NaN
46     46  0.307111  0.572953  0.389346  0.690004    NaN
47     47  0.434478  0.044306  0.186387  0.265367    NaN
48     48  0.874115  0.621284  0.176881  0.608672    NaN
49     49  0.493951  0.419985  0.227406  0.831504    NaN

In [51]:
newdf.reset_index(drop = True)

           B         D         E         F      4
0   0.517596  0.125953  0.564423  0.787370  234.0
1   0.045286  0.970250  0.145674  0.674160    NaN
2   0.522822  0.650800  0.840845  0.934032    NaN
3   0.117667  0.889824  0.304120  0.841909    NaN
4   0.084853  0.243407  0.397159  0.388403    NaN
5   0.865986  0.418640  0.425273  0.210417    NaN
6   0.948326  0.412917  0.798853  0.636600    NaN
7   0.050207  0.246690  0.713542  0.607789    NaN
8   0.760364  0.111464  0.964339  0.333398    NaN
9   0.782492  0.065162  0.473959  0.729076    NaN
10  0.092451  0.708731  0.457543  0.542431    NaN
11  0.434475  0.339608  0.041990  0.246791    NaN
12  0.949837  0.122430  0.523030  0.398869    NaN
13  0.987395  0.798271  0.060992  0.077049    NaN
14  0.929661  0.129455  0.411291  0.713292    NaN
15  0.551744  0.644448  0.450184  0.729462    NaN
16  0.258772  0.195236  0.737216  0.615646    NaN
17  0.823419  0.687062  0.110047  0.178220    NaN
18  0.681301  0.501204  0.850334  0.634901    NaN
19  0.715089  0.179192  0.485883  0.325491    NaN
20  0.588455  0.053137  0.043775  0.387364    NaN
21  0.535877  0.088089  0.286137  0.219215    NaN
22  0.746116  0.108083  0.308242  0.399534    NaN
23  0.659573  0.730125  0.986406  0.039239    NaN
24  0.846537  0.633348  0.250112  0.654441    NaN
25  0.352472  0.998167  0.176981  0.609012    NaN
26  0.418120  0.195922  0.198069  0.742681    NaN
27  0.000459  0.160412  0.177803  0.776308    NaN
28  0.850650  0.020842  0.971521  0.847121    NaN
29  0.758359  0.607237  0.613678  0.339225    NaN
30  0.711352  0.067324  0.926577  0.289973    NaN
31  0.588043  0.591648  0.847487  0.267883    NaN
32  0.993682  0.420294  0.417409  0.158156    NaN
33  0.042234  0.377795  0.585684  0.954151    NaN
34  0.782168  0.222049  0.956445  0.688829    NaN
35  0.253928  0.609087  0.189741  0.427424    NaN
36  0.812973  0.705279  0.955351  0.729131    NaN
37  0.119068  0.891497  0.899520  0.804961    NaN
38  0.272649  0.244425  0.069951  0.711441    NaN
39  0.481093  0.018544  0.514972  0.163259    NaN
40  0.266516  0.844918  0.966037  0.243079    NaN
41  0.380721  0.957520  0.575263  0.811032    NaN
42  0.645123  0.936876  0.730616  0.589761    NaN
43  0.315598  0.374477  0.799636  0.207596    NaN
44  0.404652  0.724411  0.904107  0.254647    NaN
45  0.279217  0.955578  0.598310  0.671324    NaN
46  0.307111  0.572953  0.389346  0.690004    NaN
47  0.434478  0.044306  0.186387  0.265367    NaN
48  0.874115  0.621284  0.176881  0.608672    NaN
49  0.493951  0.419985  0.227406  0.831504    NaN

In [52]:
newdf['B'].isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
Name: B, dtype: bool

In [53]:
newdf['B'] = None

In [54]:
newdf

       B         D         E         F      4
0   None  0.125953  0.564423  0.787370  234.0
1   None  0.970250  0.145674  0.674160    NaN
2   None  0.650800  0.840845  0.934032    NaN
3   None  0.889824  0.304120  0.841909    NaN
4   None  0.243407  0.397159  0.388403    NaN
5   None  0.418640  0.425273  0.210417    NaN
6   None  0.412917  0.798853  0.636600    NaN
7   None  0.246690  0.713542  0.607789    NaN
8   None  0.111464  0.964339  0.333398    NaN
9   None  0.065162  0.473959  0.729076    NaN
10  None  0.708731  0.457543  0.542431    NaN
11  None  0.339608  0.041990  0.246791    NaN
12  None  0.122430  0.523030  0.398869    NaN
13  None  0.798271  0.060992  0.077049    NaN
14  None  0.129455  0.411291  0.713292    NaN
15  None  0.644448  0.450184  0.729462    NaN
16  None  0.195236  0.737216  0.615646    NaN
17  None  0.687062  0.110047  0.178220    NaN
18  None  0.501204  0.850334  0.634901    NaN
19  None  0.179192  0.485883  0.325491    NaN
20  None  0.053137  0.043775  0.387364    NaN
21  None  0.088089  0.286137  0.219215    NaN
22  None  0.108083  0.308242  0.399534    NaN
23  None  0.730125  0.986406  0.039239    NaN
24  None  0.633348  0.250112  0.654441    NaN
25  None  0.998167  0.176981  0.609012    NaN
26  None  0.195922  0.198069  0.742681    NaN
27  None  0.160412  0.177803  0.776308    NaN
28  None  0.020842  0.971521  0.847121    NaN
29  None  0.607237  0.613678  0.339225    NaN
30  None  0.067324  0.926577  0.289973    NaN
31  None  0.591648  0.847487  0.267883    NaN
32  None  0.420294  0.417409  0.158156    NaN
33  None  0.377795  0.585684  0.954151    NaN
34  None  0.222049  0.956445  0.688829    NaN
35  None  0.609087  0.189741  0.427424    NaN
36  None  0.705279  0.955351  0.729131    NaN
37  None  0.891497  0.899520  0.804961    NaN
38  None  0.244425  0.069951  0.711441    NaN
39  None  0.018544  0.514972  0.163259    NaN
40  None  0.844918  0.966037  0.243079    NaN
41  None  0.957520  0.575263  0.811032    NaN
42  None  0.936876  0.730616  0.589761    NaN
43  None  0.374477  0.799636  0.207596    NaN
44  None  0.724411  0.904107  0.254647    NaN
45  None  0.955578  0.598310  0.671324    NaN
46  None  0.572953  0.389346  0.690004    NaN
47  None  0.044306  0.186387  0.265367    NaN
48  None  0.621284  0.176881  0.608672    NaN
49  None  0.419985  0.227406  0.831504    NaN

In [55]:
newdf.loc[ : , ['B']] = 'babli'

In [56]:
newdf

        B         D         E         F      4
0   babli  0.125953  0.564423  0.787370  234.0
1   babli  0.970250  0.145674  0.674160    NaN
2   babli  0.650800  0.840845  0.934032    NaN
3   babli  0.889824  0.304120  0.841909    NaN
4   babli  0.243407  0.397159  0.388403    NaN
5   babli  0.418640  0.425273  0.210417    NaN
6   babli  0.412917  0.798853  0.636600    NaN
7   babli  0.246690  0.713542  0.607789    NaN
8   babli  0.111464  0.964339  0.333398    NaN
9   babli  0.065162  0.473959  0.729076    NaN
10  babli  0.708731  0.457543  0.542431    NaN
11  babli  0.339608  0.041990  0.246791    NaN
12  babli  0.122430  0.523030  0.398869    NaN
13  babli  0.798271  0.060992  0.077049    NaN
14  babli  0.129455  0.411291  0.713292    NaN
15  babli  0.644448  0.450184  0.729462    NaN
16  babli  0.195236  0.737216  0.615646    NaN
17  babli  0.687062  0.110047  0.178220    NaN
18  babli  0.501204  0.850334  0.634901    NaN
19  babli  0.179192  0.485883  0.325491    NaN
20  babli  0.053137  0.043775  0.387364    NaN
21  babli  0.088089  0.286137  0.219215    NaN
22  babli  0.108083  0.308242  0.399534    NaN
23  babli  0.730125  0.986406  0.039239    NaN
24  babli  0.633348  0.250112  0.654441    NaN
25  babli  0.998167  0.176981  0.609012    NaN
26  babli  0.195922  0.198069  0.742681    NaN
27  babli  0.160412  0.177803  0.776308    NaN
28  babli  0.020842  0.971521  0.847121    NaN
29  babli  0.607237  0.613678  0.339225    NaN
30  babli  0.067324  0.926577  0.289973    NaN
31  babli  0.591648  0.847487  0.267883    NaN
32  babli  0.420294  0.417409  0.158156    NaN
33  babli  0.377795  0.585684  0.954151    NaN
34  babli  0.222049  0.956445  0.688829    NaN
35  babli  0.609087  0.189741  0.427424    NaN
36  babli  0.705279  0.955351  0.729131    NaN
37  babli  0.891497  0.899520  0.804961    NaN
38  babli  0.244425  0.069951  0.711441    NaN
39  babli  0.018544  0.514972  0.163259    NaN
40  babli  0.844918  0.966037  0.243079    NaN
41  babli  0.957520  0.575263  0.811032    NaN
42  babli  0.936876  0.730616  0.589761    NaN
43  babli  0.374477  0.799636  0.207596    NaN
44  babli  0.724411  0.904107  0.254647    NaN
45  babli  0.955578  0.598310  0.671324    NaN
46  babli  0.572953  0.389346  0.690004    NaN
47  babli  0.044306  0.186387  0.265367    NaN
48  babli  0.621284  0.176881  0.608672    NaN
49  babli  0.419985  0.227406  0.831504    NaN

In [59]:
pnd = pd.DataFrame({'name' : ['cluster' , 'chart' , 'pronoumn'],
                   'toy' : [np.nan , 'pandas' , 'pantern'],
                   'price' : [pd.NaT , pd.Timestamp('2000 - 02 - 23') , pd.NaT],
                   })

In [60]:
pnd

       name      toy      price
0   cluster      NaN        NaT
1     chart   pandas 2000-02-23
2  pronoumn  pantern        NaT

In [61]:
pnd.dropna()

    name     toy      price
1  chart  pandas 2000-02-23

In [62]:
pnd.dropna(how = 'all' , axis = 1)

       name      toy      price
0   cluster      NaN        NaT
1     chart   pandas 2000-02-23
2  pronoumn  pantern        NaT